nav {
    top: 0;
    position: fixed;
    width: 100%;
    height: auto;
    position: relative;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* logo */

nav .side-logo {
    display: flex;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
    justify-content: center;
    text-align: center;
    align-items: center;
    float: left;
    font-family: 'Pacifico', cursive;
    font-size: 36px;
    margin-left: 26px;
}

/* side bar - navigation */

nav .side-nav {
    margin: 10px 26px 10px;
    height: auto;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav .side-nav .side-nav-link {
    padding: 10px;
    width: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:visited {
    color: white;
    text-decoration: none;
}

nav .side-nav .side-nav-link span {
    display: flex;
    justify-content: center;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, .5);
    margin-left: 4px;
    border: 1px solid transparent;
    border-radius: 6px;
}

nav .side-nav .side-nav-link:hover {
    background-color: rgba(48, 52, 63, .3);
    color: #fbfbfb;
    border-radius: 6px;
    font-size: 20px;
    padding: 10px;
    width: auto;
    text-align: center;
    align-items: center;
}

/* side bar - social */

nav .side-social {
    margin: 10px 0 10px;
    height: auto;
}

.hidden-info {
    display: none;
}

@media screen and (max-width: 1024px) {
    nav {
        top: 0;
        height: 30px;
        width: 100%;
        margin-top: 15px;
    }

    nav .side-nav {
        flex-direction: row;
    }

    nav .side-nav .side-nav-link {
        padding: 6px;
        font-size: 24px;
    }

    nav .side-nav .side-nav-link:hover {
        padding: 6px;
        font-size: 24px;
    }

    nav .side-nav .side-nav-link span {
        display: none;
    }
}